
body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('./imgs/bg.jpg');
    background-size: 100%;
}

* {
    font-family: Arial, Helvetica;
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#new-game-button {
    top: 85%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ce4545ce;
    font-weight:bold;
}
#new-game-button:focus {
    outline: none;
}
#new-game-button:hover {
    transform: translate(-5px, -2px);
    box-shadow: 2px 5px 5px 1px black;
}

.letters {
   position: relative;
   text-align: center;
   width: 100%;
}
.used-letters {
   position: relative;
   text-align: center;
   width: 100%;
}
.letter-block {
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255, 0.8);
    padding: 0.5em;
    width: 1em;
    height: 1em;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    color: black;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0.5em;
    opacity: 0.6;
}

#points-container {
   position: relative;
   font-weight: bold;
   margin: auto;
   top: 20%;
}
#points-container h2 {
   font-size: 2em;
}

#points {
   font-size: 3em;
}
